*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

#wrapper{
    background-color: cadetblue;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#card{
    background-color: black;
    border-radius: 20px;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#heading{
    color: bisque;
    margin-top: 10px;
}
#input{
    margin-top: 50px;
    height: 4vh;
    width: 35vh;
}
#submit{
    width: 70px;
    height: 25px;
    border-radius: 6px;
    background-color: cadetblue;
}
#Reset {
    width: 70px;
    height: 25px;
    border-radius: 6px;
    background-color: cadetblue;
}
#result{
    color: white;
}
.input{
    margin-top: 15px;
    color: bisque;
}